{% for frontend in frontends %}
  server {
    listen *:80;
    server_name {{ frontend }}.frontends.melq.lxd.pw;
 
    location /api/v1/user_sessions {
      proxy_pass http://auth;
    }
 
    location /api {
      auth_request /auth;
      auth_request_set $user_id $upstream_http_x_user_id;
      proxy_set_header x_user_id $user_id;
      proxy_pass http://backend;
    }
 
    location /rails {
      auth_request /auth;
      auth_request_set $user_id $upstream_http_x_user_id;
      proxy_set_header x_user_id $user_id;
      proxy_pass http://backend;
    }
 
    location /alive {
      auth_request /auth;
      auth_request_set $user_id $upstream_http_x_user_id;
      proxy_set_header x_user_id $user_id;
      proxy_pass http://backend;
    }
 
    location /cable {
      proxy_pass http://backend;
    }
 
    location /auth/ {
      proxy_pass http://auth;
    }
 
    location = /auth {
      proxy_pass http://auth;
      proxy_set_header X-Original-URI $request_uri;
      proxy_set_header Content-Length 0;
    }
 
    location / {
      auth_request /auth;
      auth_request_set $user_id $upstream_http_x_user_id;
      proxy_set_header x_user_id $user_id;    
      proxy_pass http://{{ frontend }}_upstream;
    }

    error_page 401 = @error401;
 
    location @error401 {
      return 302 /#signin;
    }
  }
{% endfor %}

